@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu-medium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

$blue-color : hsl(243, 100%, 62%);
body {
  background-color: hsl(229, 24%, 87%);
  .layout {
    background-color: white;
    width: 900px;
    max-width: 900px;
  }
}
* {
  margin: 0;
  padding: 0;
}
#root {
  display: grid;
  justify-content: center;
  align-items: center;
}
.steps {
  background-color: $blue-color;
  ol {
    list-style: none;
    li {
      list-style-type: none;
      span {
        border-radius: 50%;
        border: 2px solid white;
        display: grid;
        justify-content: center;
        align-items: center;
        height: 30px;
      }
      h6 {
        font-size: 14px;
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
@media only screen and (max-width: 600px) {
  .layout {
    width: 100%;
    .steps {
      display: flex;
    }
  }
}

.radio-label {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: blue;
  border: 2px solid blue;
  cursor: pointer;
}

.radio-label.selected {
  background-color: #0a0000;
  color: rgb(255, 255, 255);
  border: 2px solid black;
}
